In [ ]:
#Create  dummy features: get.dummies()
#Scale Standardization: scaler = preprocessing.StandardScaler(),
    #scaled_df= scaler.fit_transform(df), df_scaled=pd.DataFrame(scaled_df, columns=names)
#Split Data: traing and test subsets: sklearn...train_test_split()

#categorical data?   County ~ category
#Data values in range: could partition ppm into different ranges/bins

In [1]:
import pandas as pd

In [15]:
Ozone_df = pd.read_csv("Ozone_df_final.csv")
Ozone_df['date_local'] = pd.to_datetime(Ozone_df['date_local'])
Ozone_df.dtypes
Ozone_df.head(2)

  date_local  Ozone Mean (ppm)    County  Ozone Max (ppm)
0 2019-01-01          0.026388  Maricopa         0.039045
1 2019-01-02          0.023136  Maricopa         0.033955

In [17]:
Ozone_df.isnull().sum()  #no null values in dataframe

date_local          0
Ozone Mean (ppm)    0
County              0
Ozone Max (ppm)     0
dtype: int64

In [58]:
#create dummy variables
dummy_county = pd.get_dummies(Ozone_df['County'], drop_first=False)
dummy_county.shape
dummy_county.value_counts().sum()
dummy_county.head()

,Cook,Dallas,Harris,LosAngeles,Maricopa,MiamiDade,Orange,Queens,Riverside,SanDiego
0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0

In [59]:
#concat dummy_county to Ozone_df
Ozone_Dummy_df = pd.concat([Ozone_df, dummy_county], axis=1)
Ozone_Dummy_df.head()

,date_local,Ozone Mean (ppm),County,Ozone Max (ppm),Cook,Dallas,Harris,LosAngeles,Maricopa,MiamiDade,Orange,Queens,Riverside,SanDiego
0,2019-01-01,0.026388,Maricopa,0.039045,0,0,0,0,1,0,0,0,0,0
1,2019-01-02,0.023136,Maricopa,0.033955,0,0,0,0,1,0,0,0,0,0
2,2019-01-03,0.018154,Maricopa,0.034952,0,0,0,0,1,0,0,0,0,0
3,2019-01-04,0.019730,Maricopa,0.037333,0,0,0,0,1,0,0,0,0,0
4,2019-01-05,0.021591,Maricopa,0.033773,0,0,0,0,1,0,0,0,0,0

In [62]:
#apply StandardScaler to dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

col_names = ['Ozone Mean (ppm)','Ozone Max (ppm)']
features = Ozone_Dummy_df[col_names]
scaled = scaler.fit(features.values)
features = scaled.transform(features.values)
scaled_features = pd.DataFrame(features, columns = col_names)

In [65]:
#scaled_features: Ozone Mean and Ozone Max
scaled_features.shape
scaled_features.head()

   Ozone Mean (ppm)  Ozone Max (ppm)
0         -0.329758        -0.468495
1         -0.681090        -0.847152
2         -1.219302        -0.772934
3         -1.049085        -0.595841
4         -0.848015        -0.860675

In [66]:
X = Ozone_Dummy_df.date_local
y = Ozone_Dummy_df['Ozone Mean (ppm)']

In [68]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [73]:
print(X_train)

2273   2019-03-25
328    2019-11-25
1392   2019-10-25
2405   2019-08-04
367    2019-01-03
          ...
1130   2019-02-05
1294   2019-07-19
860    2019-05-11
3507   2019-08-11
3174   2019-09-12
Name: date_local, Length: 2555, dtype: datetime64[ns]

In [74]:
print(y_train)

2273    0.029448
328     0.021238
1392    0.014111
2405    0.023875
367     0.015018
          ...
1130    0.021028
1294    0.024486
860     0.019979
3507    0.024903
3174    0.026917
Name: Ozone Mean (ppm), Length: 2555, dtype: float64

In [ ]:
#Potential models: KNN, SVM, LinReg (maybe not?)