In [1]:
import pandas as pd
import numpy as np
import glob

In [2]:
#import .csv data for the ten counties from folder, concat into a single dataframe

path = r'C:/Users/srubin/Desktop/Springboard/CapstoneProject2/2019_Ozone_Data_EPA/' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

df.head()
df.shape
df.columns

Index(['Date', 'Source', 'Site ID', 'POC',
       'Daily Max 8-hour Ozone Concentration', 'UNITS', 'DAILY_AQI_VALUE',
       'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
       'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME',
       'STATE_CODE', 'STATE', 'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE',
       'SITE_LONGITUDE'],
      dtype='object')

In [3]:
df.head(2)

,Date,Source,Site ID,POC,Daily Max 8-hour Ozone Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,03/01/2019,AQS,170310001,1,0.036,ppm,33,VILLAGE GARAGE,17,100.0,44201,Ozone,16980,"Chicago-Naperville-Elgin, IL-IN-WI",17,Illinois,31,Cook,41.670992,-87.732457
1,03/02/2019,AQS,170310001,1,0.043,ppm,40,VILLAGE GARAGE,17,100.0,44201,Ozone,16980,"Chicago-Naperville-Elgin, IL-IN-WI",17,Illinois,31,Cook,41.670992,-87.732457

In [4]:
#update dataframe for only specified features
df_features = ['Date','Daily Max 8-hour Ozone Concentration','COUNTY']
df = df[df_features]
df.head()
df.COUNTY.unique()  #all ten counties included

array(['Cook', 'Dallas', 'Harris', 'Los Angeles', 'Maricopa',
       'Miami-Dade', 'Orange', 'Queens', 'Riverside', 'San Diego'],
      dtype=object)

In [5]:
#rename columns as appropriate
df = df.rename(columns={'Daily Max 8-hour Ozone Concentration':'Max 8-Hour O3','COUNTY':'County'})
df.head(2)

         Date  Max 8-Hour O3 County
0  03/01/2019          0.036   Cook
1  03/02/2019          0.043   Cook

In [6]:
df.isna().sum()  #no null values

len(df[df['County'] == 'Cook'].Date) #Various measurements per date per County

#Need to summarize, groupby()

2445

In [7]:
df.describe()  #max ppm for O3 is really high, dangerously

       Max 8-Hour O3
count   31296.000000
mean        0.043564
std         0.013762
min         0.000000
25%         0.034000
50%         0.043000
75%         0.052000
max         0.107000

In [8]:
df.dtypes  #convert: Date to datetime
df['Date'] = pd.to_datetime(df['Date'])
df.dtypes #looks appropriate with datetime64[ns] for 'Date'

Date             datetime64[ns]
Max 8-Hour O3           float64
County                   object
dtype: object

In [9]:
df.shape

(31296, 3)

In [10]:
df.head(2)

        Date  Max 8-Hour O3 County
0 2019-03-01          0.036   Cook
1 2019-03-02          0.043   Cook

In [11]:
df = pd.DataFrame(df.groupby(['County', 'Date'])['Max 8-Hour O3'].max())
df.reset_index(level=0, inplace=True)
df.reset_index(level=0, inplace=True)

In [12]:
df

           Date     County  Max 8-Hour O3
0    2019-01-01       Cook          0.029
1    2019-01-02       Cook          0.020
2    2019-01-03       Cook          0.016
3    2019-01-04       Cook          0.018
4    2019-01-05       Cook          0.024
...         ...        ...            ...
3601 2019-12-26  San Diego          0.043
3602 2019-12-27  San Diego          0.038
3603 2019-12-28  San Diego          0.042
3604 2019-12-29  San Diego          0.042
3605 2019-12-30  San Diego          0.043

[3606 rows x 3 columns]

In [13]:
df = df.set_index('Date')

In [14]:
#inspect final df
df
df.dtypes
df_O3 = df

In [15]:
#export final df as .csv for EDA
df_O3.to_csv(r'C:/Users/srubin/Desktop/Springboard/CapstoneProject2/df_O3.csv', index = False)

In [16]:
df_O3.head(10)

           County  Max 8-Hour O3
Date
2019-01-01   Cook          0.029
2019-01-02   Cook          0.020
2019-01-03   Cook          0.016
2019-01-04   Cook          0.018
2019-01-05   Cook          0.024
2019-01-06   Cook          0.035
2019-01-07   Cook          0.024
2019-01-08   Cook          0.028
2019-01-09   Cook          0.026
2019-01-10   Cook          0.026

In [17]:
df_O3.shape

(3606, 2)